#funnyCard {
    background-color: #4E98F4;
    margin-top: 2em;
    margin-bottom: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .25em;
    border-radius: 15px;
    height: 40%;
    font-size: 30px;
    line-height: 42px;
    padding: 1em;
    width: 70%;
    height: 70%;
    font-family: 'PT Mono', monospace;
}

#flirtyCard {
    background-color: #E0746A;
    margin-top: 2em;
    margin-bottom: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    border-radius: 15px;
    height: 40%;
    font-size: 30px;
    line-height: 42px;
    padding: 1em;
    width: 70%;
    height: 70%;
    font-family: 'PT Mono', monospace;
}

#friendlyCard {
    background-color: #7975D5;
    margin-top: 4em;
    margin-bottom: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    border-radius: 15px;
    height: 40%;
    font-size: 30px;
    line-height: 42px;
    padding: 1em;
    width: 70%;
    height: 70%;
    font-family: 'PT Mono', monospace;
}

#interviewCard, #politicalCard {
    background-color: #E58B4D;
    margin-top: 2em;
    margin-bottom: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    border-radius: 15px;
    height: 40%;
    font-size: 30px;
    line-height: 42px;
    padding: 1em;
    width: 70%;
    height: 70%;
    font-family: 'PT Mono', monospace;
}

#networkingCard, #deepCard {
    background-color: #5BD4C8;
    margin-top: 2em;
    margin-bottom: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    border-radius: 15px;
    height: 40%;
    font-size: 30px;
    line-height: 42px;
    padding: 1em;
    width: 70%;
    height: 70%;
    font-family: 'PT Mono', monospace;
}

.cardsFlex {
    display: flex;
    height: 50vh;
    justify-content: center;
}

.container-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#back {
    height: 45px;
    width: 45px;
}

.editBody {
    display: flex;
    justify-content: center;
    width: 100%;
}

textarea {
    width: 286px;
    height: 48px;
    background-color: #F3ECDF;
    border-style: none;
}

#cardAddButton {
    align-items: center;
    width: 257px;
    text-transform: uppercase;
    /* margin-left: 1.3em; */
    margin-top: 2em;
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
    letter-spacing: 2px;
    height: 2em;
    font-size: 14pt;
    margin-bottom: 0;
    border: 4px solid #61C884;
    background-color: #33373D;
    border-radius: 25px;
    font-family: 'PT Mono', monospace;
}

.alignRight {
    justify-content: center;
    display: flex;
}

.editCardContent {
    margin-top: 70%;
}

fieldset {
    border-radius: 1em;
    border-style: none;
    background-color: #272A2F;
    font-size: 20px;
    color: white;
}

label {
    font-family: 'PT Mono', monospace;
    text-transform: uppercase;
}

select {
    color: white;
    font-family: 'PT Mono', monospace;
    text-transform: uppercase;
    font-size: 15px;
}

.cardText {
    margin: 0;
}