button {
    color: white;
}

p {
    margin: 0;
}

.friendly {
    padding: 12px 20px;
    width: 75%;
    height: 52px;
    background: #33373D;
    border: 4px solid #7975D5;
    box-sizing: border-box;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: #7975D5;
    margin-top: 1em;
    font-family: 'PT Mono', monospace;
    letter-spacing: 1px;
    font-size: 20px;
}

.stranger {
    padding: 12px 20px;
    height: 52px;
    background: #33373D;
    border: 4px solid #5BD5C8;
    box-sizing: border-box;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: #5BD5C8;
    justify-content: center;
    width: 75%;
    margin-top: 1em;
    font-family: 'PT Mono', monospace;
    letter-spacing: 1px;
    font-size: 20px;
}

.funny {
    padding: 12px 20px;
    height: 52px;
    background: #33373D;
    border: 4px solid #4E98F4;
    box-sizing: border-box;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: #4E98F4;
    justify-content: center;
    width: 75%;
    margin-top: 1em;
    font-family: 'PT Mono', monospace;
    letter-spacing: 1px;
    font-size: 20px;
}

.lover {
    padding: 12px 20px;
    height: 52px;
    background: #33373D;
    border: 4px solid #E0746A;
    box-sizing: border-box;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: #E0746A;
    justify-content: center;
    width: 75%;
    margin-top: 1em;
    font-family: 'PT Mono', monospace;
    letter-spacing: 1px;
    font-size: 20px;
}

.political {
    padding: 12px 20px;
    height: 52px;
    background: #33373D;
    border: 4px solid #E58B4D;
    box-sizing: border-box;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: #E58B4D;
    justify-content: center;
    width: 75%;
    margin-top: 1em;
    font-family: 'PT Mono', monospace;
    letter-spacing: 1px;
    font-size: 20px;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

#back {
    height: 45px;
    width: 45px;
    margin: 2em 2em 2em 1em;
}

.textContent {
    font-family: 'PT Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A8A9AC;
}

.addButton {
    display: flex;
    justify-content: center;
}

#add {
    height: 100px;
}